<mat-toolbar color="primary">
  <span>Internal Social Network</span>
  <span class="spacer"></span>
  <button class="btn-space" mat-stroked-button color="white" routerLink="/topics">Topics</button>
  <button class="btn-space" mat-button color="white" routerLink="/topics">Annouces</button>
  <span class="spacer"></span>

      <button class="btn-space" mat-raised-button color="accent" routerLink="/login">Sign in</button>
      <!-- <button class="btn-space" mat-raised-button color="accent" routerLink="/register">Register</button> -->
</mat-toolbar>

<div class="container">

  <router-outlet></router-outlet>
</div>
